body{
    width: 370px;
    font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif;
    padding: 5px;
}

.container{
    padding: 5px
}

.navbar{
    min-height: initial;
    margin-bottom: 0;
}

.nav {
    margin: 0;
}

.nav>li>a{
    padding: 5px;
}

.nav>li {
    float: left;
}

/* profile image */
img.profile-img{
    height: auto;
    width: auto;
}
img.profile-img-lg {
    max-width: 40px;
    max-height: 40px;
}
img.profile-img-md{
    max-width: 32px;
    max-height: 32px;
}
img.profile-img-sm{
    max-width: 18px;
    max-height: 18px;
}

/* fonts */
.font-size-12{
    font-size: 12px;
}

.font-size-10{
    font-size: 10px;
}

/* padding control */
.padding-right-xs{
    padding-right: 5px !important;
}

.padding-left-xs{
    padding-left: 5px !important;
}

.padding-bottom-xs{
    padding-bottom: 5px !important;
}

.padding-top-xs{
    padding-bottom: 5px !important;
}

.padding-all-xs{
    padding: 5px !important;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-right-zero {
    padding-right: 0;
}

.line-height-one{
    line-height: 1;
}

/* asana buttons */
.btn-asana{
    color: #fff !important;
    background-color: #1AAFD0 !important;
    border: 1px solid #1AAFD0 !important;
}

.asana-link{
    color: #fff !important;
    background-color: #1AAFD0 !important;
}

.btn-asana:hover{
    background-color: #02CEFF;
    box-shadow: 0 0 0 3px #80E6FF;
}

span.archived-project{
    border-left: 3px solid #62d26f;
    padding-left: 5px;
}

.private-project{
    color: #d2635b;
}

.overflow-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* custom select */
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
    background: #fff;
    position: relative;
    z-index: 1;
}
.alert-info.positioned {
    margin-top: 1em;
    position: relative;
    z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}

.form-group {
    margin-bottom: 5px;
}

.form-group.multi-select input.ui-select-search{
    width: auto !important;
}

.form-group-box{
    border-radius: 4px;
    border: 1px solid #cccccc;
    padding: 5px;
}

.form-group-box textarea{
    outline: none;
    padding: 2px;
    resize:none;
    width: 100%;
    border:0;
    background-color: #ffffff;
}

.requiredField{
    border: 1px solid red !important;
}

.copy-page{
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #888;
    cursor: pointer;
}

.copy-page:hover, .copy-page:focus{
    color: #02CEFF
}

/*
Calendar popup above rather than below
*/
.dropdown-menu.datetime-picker-dropdown.ng-valid-date-disabled {
    top: calc(-50% - 275px) !important;
}

.dropdown-menu.datetime-picker-dropdown.ng-not-empty.ng-valid-time,
.dropdown-menu.datetime-picker-dropdown.ng-empty{
    top: calc( -15% - 159px);
}

/*
bug in angular-ui-select
fix taken from here
https://github.com/angular-ui/ui-select/issues/379
*/
.ui-select-multiple.ui-select-bootstrap {
    min-height: 31px;
}

.ui-select-multiple .ui-select-search.ng-hide{
    width: 100%; display: inline-block !important; cursor: not-allowed;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close{
    line-height: 1;
}

.ui-select-bootstrap .ui-select-choices-row>a{
    padding: 3px 10px;
}

/*multiselect span - showing default outline*/
span:focus{
    outline: none;
}

.asana-ng-container .btn-default:hover, .asana-ng-container .btn-default:focus{
    color: #02CEFF;
    background-color: #fff;
    border-color: #02CEFF;
}

.asana-ng-container .btn-default:hover *, .asana-ng-container .btn-default:focus *,
.asana-ng-container .close:focus, .close:hover {
    color: #02CEFF;
}

.asana-ng-container .checkbox-asana{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 22px;
}

.asana-ng-container .checkbox-asana input[type="checkbox"]{
    cursor: pointer;
}

.asana-ng-container .checkbox-asana .task-name {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    line-height: 23px;
}