<form>
    <div class="form-group">
        <ui-select data-ng-model="createTaskCtrl.selectedWorkspace.selected"
                   on-select="createTaskCtrl.onWorkspaceSelect($item, $model)" ui-select-focus>
            <ui-select-match placeholder="Select Workspace">
                <span data-ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="workspace in createTaskCtrl.workspaces | orderBy:'name' | filter: $select.search" position="down">
                <div class="overflow-ellipsis">
                    <span data-ng-bind="workspace.name"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group multi-select">
        <ui-select multiple tagging="createTaskCtrl.projectTaggingHandler" data-ng-class="{requiredField:createTaskCtrl.projectRequired}" data-ng-model="createTaskCtrl.selectedProject.list"
                   data-ng-disabled="createTaskCtrl.workspaceNotSelected" on-select="createTaskCtrl.onProjectSelected($item, $model)"
                   ui-select-focus>
            <ui-select-match placeholder="Select Project(s)" style="padding-left: 5px;">
                {{$item.name}}
            </ui-select-match>
            <ui-select-choices repeat="project in createTaskCtrl.projects | orderBy:'name' | filter: $select.search" position="down">
                <div class="overflow-ellipsis">
                    <span data-ng-class="{'archived-project':project.archived}" data-ng-bind="project.name" title="{{project.notes}}"></span>
                    <span data-ng-bind="project.prompt"></span>
                    <i class="fa fa-lock private-project" data-ng-hide="project.public" title="Private to me"></i>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
        <ui-select data-ng-model="createTaskCtrl.selectedUser.selected"
                   data-ng-disabled="createTaskCtrl.workspaceNotSelected" ui-select-focus>
            <ui-select-match allow-clear="true" placeholder="Select Assignee">
                <img class="img-circle profile-img profile-img-sm"
                     data-ng-src="{{$select.selected.photo.image_21x21}}"
                     src="../img/nopicture.png">
                <span data-ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="user in createTaskCtrl.users | orderBy:'name' | filter: $select.search" position="down">
                <div class="overflow-ellipsis">
                    <img class="img-circle profile-img profile-img-sm"
                         data-ng-src="{{user.photo.image_36x36}}"
                            src="../img/nopicture.png">
                    <span data-ng-bind="user.name" class="font-size-12"></span>
                    <span data-ng-bind="user.email" class="font-size-10"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group multi-select">
        <ui-select multiple tagging="createTaskCtrl.tagHandler"  data-ng-model="createTaskCtrl.selectedTags.list"
                   data-ng-disabled="createTaskCtrl.workspaceNotSelected" on-select="createTaskCtrl.createNewTag($item, $model)"
                   ui-select-focus>
            <ui-select-match placeholder="Select Tag(s)" style="padding-left: 5px;">
                <i class="fa fa-tag"></i> {{$item.name}}
            </ui-select-match>
            <ui-select-choices repeat="tag in (createTaskCtrl.tags | orderBy:'name' | filter: $select.search) track by tag.id" position="down">
                <div class="overflow-ellipsis" title="{{tag.notes}}">
                    <i class="fa fa-tag"></i>
                    <span data-ng-bind="tag.name"></span>
                    <span data-ng-bind="tag.prompt"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group multi-select">
        <ui-select multiple tagging="createTaskCtrl.tagHandler"  data-ng-model="createTaskCtrl.selectedFollowers.list"
                   data-ng-disabled="createTaskCtrl.workspaceNotSelected" ui-select-focus>
            <ui-select-match placeholder="Select Follower(s)" style="padding-left: 5px;">
                <span data-ng-bind="$item.name | nameInitials" data-ng-attr-title="{{$item.name}}"></span>
            </ui-select-match>
            <ui-select-choices repeat="follower in createTaskCtrl.users | orderBy:'name' | filter: $select.search track by follower.id">
                <div class="overflow-ellipsis">
                    <img class="img-circle profile-img profile-img-sm"
                         data-ng-src="{{follower.photo.image_36x36}}"
                         src="../img/nopicture.png">
                    <span data-ng-bind="follower.name" class="font-size-12"></span>
                    <span data-ng-bind="follower.email" class="font-size-10"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group form-group-box">
        <a class="copy-page" title="Insert Page title and URL" data-ng-click="createTaskCtrl.copyPage()"><i class="fa fa-copy"></i></a>
        <textarea data-ng-class="{requiredField:createTaskCtrl.taskNameRequired}" rows="1" id="taskName" name="taskName"
                  data-ng-model="createTaskCtrl.taskName" placeholder="Task Name" required
                  style="font-weight:600;" data-ng-disabled="workspaceNotSelected"></textarea>
        <textarea id="taskDescription" name="taskNotes" data-ng-model="createTaskCtrl.taskNotes" placeholder="Task Description"
               data-ng-disabled="createTaskCtrl.workspaceNotSelected"></textarea>
    </div>

    <div class="form-group">
        <datetime type="createTaskCtrl.deadlineType" date="createTaskCtrl.deadline">
        </datetime>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-sm btn-asana"
            data-ng-click="createTaskCtrl.createTask()">Create Task</button>
        <span class="status label" data-ng-show="createTaskCtrl.taskCreationStatus.show"
            data-ng-class="createTaskCtrl.taskCreationStatus.success?'label-success':'label-danger'"
            data-ng-bind="createTaskCtrl.taskCreationStatus.message">
        </span>
        <a target="_blank" class="label asana-link" data-ng-href="{{createTaskCtrl.taskCreationStatus.link}}"
           data-ng-show="createTaskCtrl.taskCreationStatus.show && createTaskCtrl.taskCreationStatus.success">
            View Task <i class="fa fa-external-link"></i>
        </a>
    </div>
</form>