<form>
    <div class="form-group">
        <ui-select ng-model="selectedWorkspace.id" on-select="onWorkspaceSelect($item, $model)">
            <ui-select-match placeholder="Select Workspace">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="workspace in (workspaces | filter: $select.search)">
                <div class="overflow-ellipsis">
                    <span ng-bind="workspace.name"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group multi-select">
        <ui-select multiple tagging="projectTaggingHandler" ng-model="selectedProject.list"
                   ng-disabled="workspaceNotSelected" on-select="createProject($item, $model)">
            <ui-select-match placeholder="Select Project" style="padding-left: 10px;">
                {{$item.name}}
            </ui-select-match>
            <ui-select-choices repeat="project in (projects | filter: $select.search)">
                <div class="overflow-ellipsis">
                    <span ng-class="{'archived-project': project.archived}" ng-bind="project.name" title="{{project.notes}}"></span>
                    <span ng-bind="project.prompt"></span>
                    <i class="fa fa-lock" ng-hide="{{project.public}}" title="Private to me"></i>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
        <ui-select ng-model="selectedUser.id" ng-disabled="workspaceNotSelected">
            <ui-select-match placeholder="Select User">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="user in (users | filter: $select.search)">
                <div class="overflow-ellipsis">
                    <img class="img-circle profile-img profile-img-md"
                         ng-src="{{user.photo.image_128x128}}"
                            src="../img/nopicture.png">
                    <span ng-bind="user.name" class="font-size-12"></span>
                    <span ng-bind="user.email" class="font-size-10"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group multi-select">
        <ui-select multiple tagging="tagHandler" ng-model="selectedTags.list" ng-disabled="workspaceNotSelected"
                   on-select="createNewTag($item, $model)">
            <ui-select-match placeholder="Select tag(s)" style="padding-left: 10px;">
                {{$item.name}}
            </ui-select-match>
            <ui-select-choices repeat="tag in (tags | filter: $select.search) track by tag.id">
                <div class="overflow-ellipsis" title="{{tag.notes}}">
                    <i class="fa fa-tag"></i>
                    <span ng-bind="tag.name"></span>
                    <span ng-bind="tag.prompt"></span>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
        <input type="text" id="taskName" name="taskName" ng-model="taskName" placeholder="Task Name" required
               style="width: 100%;padding-left: 10px" ng-disabled="workspaceNotSelected">
        <textarea id="taskDescription" name="taskNotes" ng-model="taskNotes" placeholder="Task Description"
               style="resize: none;width: 100%;height: 62px; line-height: 14px; padding-left: 10px;" ng-disabled="workspaceNotSelected"></textarea>

    </div>

    <div class="form-group">
        <p class="input-group">
            <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss" ng-model="dueDate.date"
                   is-open="dueDate.open" placeholder="Due Date" ng-disabled="workspaceNotSelected"
                   ng-click="dueDate.open=!dueDate.open"/>
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default selectDueDate" ng-click="dueDate.open=!dueDate.open">
                      <i class="fa fa-calendar"></i>
                  </button>
              </span>
        </p>
    </div>

    <div class="form-group" ng-click="createTask()">
        <button type="button" class="btn btn-asana">Create Task</button>
        <span class="status label" ng-show="taskCreationStatus.show"
              ng-class="{'label-success': taskCreationStatus.success, 'label-danger': !taskCreationStatus.success}">
            {{taskCreationStatus.message}}
        </span>
    </div>
</form>