<form>
    <div class="form-group">
        <h5>User Settings</h5>
    </div>
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="checkbox checkbox-info checkbox-circle checkbox-asana">
                <input id="hideArchivedProjects" class="styled" type="checkbox" data-ng-checked="hideArchivedProjects" data-ng-click="changeHideArchivedProjects()"/>
                <label for="hideArchivedProjects">Hide Archived Projects</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="checkbox checkbox-info checkbox-circle checkbox-asana">
                <input id="defaultAssigneeMe" class="styled" type="checkbox" data-ng-checked="defaultAssigneeMe" data-ng-click="changeDefaultAssigneeMe()"/>
                <label for="defaultAssigneeMe">Default Assignee - Me</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="checkbox checkbox-info checkbox-circle checkbox-asana">
                <input id="projectOptional" class="styled" type="checkbox" data-ng-checked="projectOptional" data-ng-click="changeProjectOptional()"/>
                <label for="projectOptional">Project Optional</label>
            </div>
        </div>
    </div>
</form>