<form>
    <div data-ng-hide="utilitiesCtrl.taskWorkspace">
        <h5>Not an Asana task page</h5>
    </div>

    <div data-ng-show="utilitiesCtrl.taskWorkspace">
        <div>
            <h5>Make subtask of ...</h5>
        </div>

        <div class="form-group">
            <ui-select data-ng-model="utilitiesCtrl.selectedParentTask.selected" ui-select-focus>
                <ui-select-match allow-clear="true" placeholder="Enter Parent Task Name">
                    <span data-ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="task in utilitiesCtrl.tasksTypeaheadArray | filter: $select.search | filter: utilitiesCtrl.notEndsWithColon | filter: utilitiesCtrl.notSameTask" refresh="utilitiesCtrl.updateTypeahead($select.search)" minimum-input-length="1" refresh-delay="100" position="down">
                    <div class="overflow-ellipsis">
                        <span data-ng-bind="task.name"></span>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
                <button type="button" class="btn btn-sm btn-asana" data-ng-click="utilitiesCtrl.setParent()" data-ng-disabled="!utilitiesCtrl.selectedParentTask.selected.id">Add as Subtask</button>
        </div>

        <div>
            <h5>Navigate subtasks</h5>
        </div>

        <div class="form-group">
            <span>
                <button type="button" class="btn btn-sm btn-asana" title="[Tab + Up]" data-ng-click="utilitiesCtrl.openParentTask()" data-ng-disabled="!utilitiesCtrl.parentTask"><i class="fa fa-arrow-left"></i> Parent</button>
            </span>
            <span>
                <button type="button" class="btn btn-sm btn-asana" title="[Tab + Up], [Ctrl + Up], [Tab + Left]" data-ng-click="utilitiesCtrl.openPreviousSubtask()" data-ng-disabled="!utilitiesCtrl.previousSubtask"><i class="fa fa-arrow-up"></i> Previous</button>
            </span>
            <span>
                <button type="button" class="btn btn-sm btn-asana" title="[Tab + Up], [Ctrl + Down], [Tab + Left]" data-ng-click="utilitiesCtrl.openNextSubtask()" data-ng-disabled="!utilitiesCtrl.nextSubtask"><i class="fa fa-arrow-down"></i> Next</button>
            </span>
        </div>

        <div>
            <h5>Replace text in task note</h5>
        </div>

        <div>
            <table class="separate">
                <tr class="form-tr" data-ng-repeat="pattern in utilitiesCtrl.patternsArray">
                    <td class="with-border"><input class="no-border width-220" type="text" data-ng-model="pattern[0]" data-ng-trim="false" data-ng-change="utilitiesCtrl.saveReplacePatterns()"></td>
                    <td class="with-border"><textarea trusted-html class="no-border width-100" type="text" data-ng-model="pattern[1]" data-ng-trim="false" data-ng-change="utilitiesCtrl.saveReplacePatterns()"></textarea></td>
                    <td><span data-ng-click="utilitiesCtrl.delPattern($index)"><i class="fa fa-minus-circle"></i></span></td>
                </tr>
            </table>

            <span data-ng-click="utilitiesCtrl.addPattern()" class="btn"><i class="fa fa-plus-circle"></i> Add</span>
            <span data-ng-click="utilitiesCtrl.clearPatterns()" class="btn"><i class="fa fa-times"></i> Clear</span>
            <span data-ng-click="utilitiesCtrl.resetToDefault()" class="btn"><i class="fa fa-refresh"></i> Default</span>
        </div>

        <div>
            <button type="button" class="btn btn-sm btn-asana" title="Note: All formatting will be lost" data-ng-click="utilitiesCtrl.replacePatterns()" data-ng-disabled='!utilitiesCtrl.taskId'>Replace</button>
            <span class="status label" data-ng-show="utilitiesCtrl.taskUpdateStatus.show"
                data-ng-class="utilitiesCtrl.taskUpdateStatus.success?'label-success':'label-danger'">
                {{utilitiesCtrl.taskUpdateStatus.message}}
            </span>
        </div>
    </div>
</form>